.master-wrapper {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(18, 1fr);
}

.navbar-wrapper {
  grid-column: 1/-1;
}

.content-wrapper {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  grid-column: 4/8;
  grid-row: 2/-1;
}

.messages-wrapper {
  grid-column: 1/4;
  grid-row: 2/-1;
}

.chat-wrapper {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  grid-column: span 4;
  grid-column-end: -1;
  grid-row: 5/-1;
  grid-row-end: -1;
}
