.notification-badge {
  background-color: #fa3e3e;
  border-radius: 4px;
  color: white;
  padding: 1px 6px;
  font-size: 16px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  right: 0;
}
