.threads-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 2px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.threads-header {
  flex-basis: auto;
  flex-grow: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  min-height: 65px;
  max-height: 65px;
}

.threads-title {
  flex-basis: auto;
  flex-grow: 1;
  justify-content: center;
}

.thread-list-container {
  scroll-behavior: smooth;
  overflow-y: auto;
  overflow-x: hidden;
  flex: 10;
}
