.thread-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  margin: 3px;
  padding: 5px;
}

.thread-container:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 2px #1e2a4c;
}

.subject-avatar-container {
  flex: 1;
}

.thread-content-container {
  display: flex;
  flex-direction: column;
  flex: 4;
  margin: 0 10px 0 10px;
}

.subject-name-container {
  flex: 1;
}

.summary-container {
  flex: 1;
  font-weight: 100;
  font-size: 14px;
}

.thread-date-container {
  flex: 1;
  text-align: center;
  color: rgba(0, 0, 0, .40);
  font-size: 13px;
  font-weight: 400;
  padding-top: 4px;
  margin: 0 5px 0 5px;
}

