.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: 1;
}

.contacts-container {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  overflow-x: hidden;
}

.chat-panel {
  display: flex;
  flex-direction: row;
  flex: 19;
}

.user-chat {
  flex: 3;
}

.users-container {
  flex: 2;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  overflow-x: hidden;
  overflow-y: auto;
}
