.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #4267b2;
  height: 100%;
  border: none;
}

.logo-container {
  flex: 1;
}

.logo-container > img {
  margin-left: 10px;
  width: 54px;
  height: 54px;
}

.nav-buttons-container {
  display: flex;
  flex-direction: row-reverse;
  flex: 8;
}

.user-banner-container {
  margin-right: 20px;
}
